# 忽略所有文件和目录
*

# 保留的目录
!article-image/
!article-image/**
!development/
!development/**
!design/
!design/**
!llm-price-scraper/
!llm-price-scraper/**
llm-price-scraper/prices
llm-price-scraper/prices.csv
llm-price-scraper/prices.json


# 保留 .gitignore 文件本身
!.gitignore
.DS_Store
